/*.opendb
/*.db
/ipch
/LwAR/opencv2
/LwAR/Debug
/Debug/*.exe
*.ilk
/.vs
/x64
/ExternalLibs/opencv2/sources
/ExternalLibs/opencv2/build/doc
/ExternalLibs/opencv2/build/x64/vc12/staticlib
/ExternalLibs/opencv2/build/x64/vc11/staticlib
/ExternalLibs/opencv2/build/x86/vc12/staticlib
/ExternalLibs/opencv2/build/x86/vc11/staticlib
/ExternalLibs/opencv2/build/x64
/LwARTest/Debug
/LwARTest/Release
/ExternalLibs/opencv2_old
/Source/LwAR/x64
/Source/LwAR/Build
/Source/LwARTest/Debug
/Source/LwARTest/x64
*.idb
*.pdb
*.tlog
*.cache
*.log
/Build/x64/Debug/LwARTest.exe
/Build/x64/Debug/LwARTest_DetectFace.exe
/ExternalLibs/opencv2
/Source/LwARTest_DetectFace/x64/Debug/LwARTest_DetectFace.obj
/Source/LwARTest_DetectRedCircles/x64/Debug/LwARTest_DetectRedCircles.obj
/Source/LwARTest_DetectRedCircles/x64/Release/LwARTest_DetectRedCircles.obj
/Source/LwARTest_Marker/LwARTest_Marker.cpp
/Source/LwARTest_Marker/x64/Release/LwARTest_Marker.obj
/Build/x64/Debug/LwARTest_DetectRedCircles.exe
/Build/x64/Release/LwARTest.exe
/Build/x64/Release/LwARTest.iobj
/Build/x64/Release/LwARTest.ipdb
/Build/x64/Release/LwARTest_DetectRedCircles.exe
/Build/x64/Release/LwARTest_DetectRedCircles.iobj
/Build/x64/Release/LwARTest_DetectRedCircles.ipdb
/Build/x64/Release/LwARTest_Marker.exe
/Build/x64/Release/LwARTest_Marker.iobj
/Build/x64/Release/LwARTest_Marker.ipdb
