/*.opendb
/*.db
/ipch
/LwAR/opencv2
/LwAR/Debug
/Debug/*.pdb
/Debug/*.exe
/Debug/*.ilk
/.vs
/x64
/ExternalLibs/opencv2/sources
/ExternalLibs/opencv2/build/doc
/ExternalLibs/opencv2/build/x64/vc12/staticlib
/ExternalLibs/opencv2/build/x64/vc11/staticlib
/ExternalLibs/opencv2/build/x86/vc12/staticlib
/ExternalLibs/opencv2/build/x86/vc11/staticlib
/ExternalLibs/opencv2/build/x64
